<a href="https://colab.research.google.com/github/joannawqy/ECON323/blob/main/Notebooks/final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Preprocessing

## education completion rate

In [4]:
#pip install openpyxl --upgrade

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 3.2 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
edu_comp = pd.read_excel('/Users/mac/Desktop/ECON323/ECON323/Data/popratio_educompletion.xlsx')
edu_comp.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Age,Education level,Freq,Location,Nature,Observation Status,Quantile,Reporting Type,Sex,Units
0,4,4.1,4.1.2,SE_TOT_CPLR,"Completion rate, by sex, location, wealth quin...",4,Afghanistan,2016,43,2016,...,NaN,LOWSEC,NaN,ALLAREA,C,NaN,_T,G,BOTHSEX,PERCENT
1,4,4.1,4.1.2,SE_TOT_CPLR,"Completion rate, by sex, location, wealth quin...",4,Afghanistan,2016,41,2016,...,NaN,UPPSEC,NaN,ALLAREA,C,NaN,_T,G,MALE,PERCENT
2,4,4.1,4.1.2,SE_TOT_CPLR,"Completion rate, by sex, location, wealth quin...",4,Afghanistan,2016,30,2016,...,NaN,LOWSEC,NaN,ALLAREA,C,NaN,_T,G,FEMALE,PERCENT
3,4,4.1,4.1.2,SE_TOT_CPLR,"Completion rate, by sex, location, wealth quin...",4,Afghanistan,2016,55,2016,...,NaN,LOWSEC,NaN,ALLAREA,C,NaN,_T,G,MALE,PERCENT
4,4,4.1,4.1.2,SE_TOT_CPLR,"Completion rate, by sex, location, wealth quin...",4,Afghanistan,2016,45,2016,...,NaN,PRIMAR,NaN,ALLAREA,C,NaN,_T,G,FEMALE,PERCENT

Get GeoAreaName, TimePeriod, Value, Educationlevel, Location, Quantile, Sex

In [7]:
edu_comp = edu_comp[['GeoAreaName', 'TimePeriod','Value','Education level','Location', 'Quantile', 'Sex']]

In [9]:
edu_comp.rename(columns={'Value': 'edu_comp_ratio'}, inplace=True)

/var/folders/03/lsf9g8v9479dwcnljvyfxdj40000gn/T/ipykernel_2553/1026454497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_comp.rename(columns={'Value': 'edu_comp_ratio'}, inplace=True)

In [10]:
edu_comp

,GeoAreaName,TimePeriod,edu_comp_ratio,Education level,Location,Quantile,Sex
0,Afghanistan,2016,43,LOWSEC,ALLAREA,_T,BOTHSEX
1,Afghanistan,2016,41,UPPSEC,ALLAREA,_T,MALE
2,Afghanistan,2016,30,LOWSEC,ALLAREA,_T,FEMALE
3,Afghanistan,2016,55,LOWSEC,ALLAREA,_T,MALE
4,Afghanistan,2016,45,PRIMAR,ALLAREA,_T,FEMALE
...,...,...,...,...,...,...,...
35408,Zambia,2020,45,LOWSEC,ALLAREA,_T,MALE
35409,Zambia,2020,48,LOWSEC,ALLAREA,_T,FEMALE
35410,Zambia,2020,28,UPPSEC,ALLAREA,_T,BOTHSEX
35411,Zambia,2020,65,PRIMAR,ALLAREA,_T,MALE
35412,Zambia,2020,74,PRIMAR,ALLAREA,_T,FEMALE